.portfolio_item {
	width: 29vw;
	height: 18vw;
	transition: .7s;
	position: relative;
	overflow: hidden;
}

.portfolio_item_image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: 1s;
}

.portfolio_item:hover .portfolio_item_image {
	width: 160%;
	height: 160%;
	left: -20%;
	top: -20%;
}

.site_link {
	display: block;
	width: 100%;
	height: 100%;
	color: #000;
	z-index: 30;
	position: relative;
	font-family: Karla, sans-serif;
	background-color: rgba(0,0,0,.3);
}

.site_name {
	font-size: 2.3em;
	color: #fff;
	padding: 5px 20px;
}

.link_to_git {
	color: #fff;
	position: absolute;
	bottom: 30px;
	right: 40px;
	padding: 0 10px;
	border-left: 2px solid #faaf52;
	line-height: 40px;
	height: 40px;
	font-size: 0.9em;
	font-family: Karla;
	overflow: hidden;
	z-index: 30;
}

.link_to_git::before {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #faaf52;
	left: -100%;
	transition: .5s;
	content: "";
	z-index: -1;
}

.link_to_git:hover::before {
	left: 0;
}

@media (max-width: 1024px) {
	.site_name {
		font-size: 1.5em;
	}

	.link_to_git {
		bottom: 10px;
		right: 10px;
	}
}

@media (max-width: 768px) {
	.site_name {
		font-size: 1em;
	}

	.link_to_git {
		font-size: 0.6em;
		height: 20px;
		line-height: 20px;
	}
}

@media (max-width: 640px) {
	.site_name {
		font-size: .8em;
		padding: 4px 10px;
	}
}

@media (max-width: 440px) {
	.site_name {
		font-size: .6em;
		padding: 4px 5px;
	}

	.link_to_git {
		bottom: 5px;
		right: 5px;
		font-size: 0.4em;
	}
}